<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


  <div class="alert alert-danger" role="alert">
      Welcome to BikBnB, This website is still under construction. Visit again later.
  </div> 
<div class="card" style="width: 18rem;">
    <img src="./assets/images/bike.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rent a Bike</h5>
      <p class="card-text">Looking to Rent a bike when you are on a vacation.This App has a huge list of bikes to Rent</p>
      <a href="#" class="btn btn-primary">Check out more here</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
      <img src="./assets/images/bike2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Borrow a Bike</h5>
        <p class="card-text"> Feeling a lil social today. A lot of these bikes are free to borrow.Please note you need points to do this.</p>
        <a href="#" class="btn btn-primary">Check out more here</a>
      </div>
    </div>  