<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


  <div class="alert alert-danger" role="alert">
      Welcome to BikBnB, This website is still under construction. Visit again later.
  </div> 
<ul>
  <li>
  <button type="button" class="btn btn-primary">Buy Bikes</button>
  </li>
  <li>
  <button type="button" class="btn btn-primary">Rent Bikes</button>
  </li>
  <li>
  <button type="button" class="btn btn-primary">Share Bikes</button>
  </li>
</ul>